<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campus.secondhand.mapper.OrderItemMapper">

    <select id="selectOrderItemById" resultMap="OrderBaseMapper.OrderVOMap">
        select
            <include refid="OrderBaseMapper.Order_Column_List" />,
            t1.nickname as buyer_nickname,
            t1.avatar as buyer_avatar,
            t2.nickname as seller_nickname,
            t2.avatar as seller_avatar,
            <include refid="OrderBaseMapper.OrderItem_Column_List" />
        from `order` o
        inner join (select id, nickname, avatar from `user`) t1
                    on o.buyer_id = t1.id
        inner join (select id, nickname, avatar from `user`) t2
                    on o.seller_id = t2.id
        inner join `order_item` oi
                    on o.id = oi.order_id
        where o.id = #{orderId}
        order by o.create_time desc;
    </select>
</mapper>
