<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campus.secondhand.mapper.ProductImageMapper">

    <resultMap id="BaseResultMap" type="com.campus.secondhand.pojo.ProductImage">
            <id property="id" column="id" />
            <result property="productId" column="product_id" />
            <result property="url" column="url" />
            <result property="sort" column="sort" />
    </resultMap>

    <sql id="Base_Column_List">
        id,product_id,url,sort
    </sql>
    <select id="selectImageByPid" resultType="string">
        select url
        from product_image
        where product_id=#{productId}
        order by sort
    </select>
</mapper>
